:root {
  --border-radius: 4px;
  --color-background: #f4f4f4; /* Light grey for background */
  --color-text: #333; /* Dark grey for text */
  --color-primary: #0056b3; /* Blue for primary elements */
  --color-accent: #ffcc00; /* Yellow for accent on hover */
  --color-code-bg: #fff4db; /* Light yellow for code background */
  --color-code: #8a6534; /* Dark brown for code text */
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-mono: 'Courier New', Courier, monospace;
  --font-lg: 2.5rem; /* Large font size */
  --font-md: 2rem; /* Medium font size */
  --font-sm: 1.25rem; /* Small font size */
  --font-xs: 1rem; /* Extra small font size */
  --line-height-loose: 1.8; /* Looser line height for better readability */
  --line-height-normal: 1.6; /* Normal line height */
  --space-1: 8px; /* Small spacing */
  --space-2: 16px; /* Medium spacing */
  --space-3: 24px; /* Large spacing */
  --space-4: 32px; /* Extra large spacing */
}

body {
  font-family: var(--font-sans);
  color: var(--color-text);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  line-height: var(--line-height-normal);
}

h1, h2 {
  color: var(--color-primary);
  margin-bottom: var(--space-2);
}

h1 {
  font-size: var(--font-lg);
  margin-bottom: var(--space-3);
}

h2 {
  font-size: var(--font-md);
  margin-bottom: var(--space-2);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}

a:hover {
  color: var(--color-accent);
}

ul {
  list-style-type: disc;
  margin-left: var(--space-3);
  margin-bottom: var(--space-2);
}

p {
  margin-bottom: var(--space-2);
  font-size: var(--font-xs);
}

main {
  padding: var(--space-4);
  max-width: 800px;
  margin: 0 auto;
}

pre {
  font-size: var(--font-xs);
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
  margin-bottom: var(--space-4);
}

code {
  font-size: var(--font-xs);
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

img {
  border-style: none;
  max-width: 100%;
}

.navbar {
  background-color: var(--color-primary);
  padding: var(--space-2);
}

.navbar a {
  color: #fff;
  margin-right: var(--space-3);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--color-accent);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
